.contrat_expired{
    color:red;
}
td.text-left{
    text-align: center;    
}
td.text-left p{
    font-weight: 600;
}
td.text-left span{
    font-weight: 500;
}

td.text-left span:nth-child(1){
    font-weight: 400;
}