/* .employee .head{
    margin-left: 20px;
}  */

/*SUB OPERATIONS CLASSES*/
/*.operations_users{
    z-index: 1;
    position: absolute;
    top: 0;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 1px #0003;
    color: #333;
    visibility: hidden;
    transition: .1s ease;
}
.operations_users.hide{
    visibility: visible;
}
.operations_users .operations{
    display: block;
}
.search_control{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
 .search_control input,  .search_control button{
    margin-left: 20px;
    box-sizing: border-box;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.search_control button{
    height: 39px;
}
.search_control input{
    height: auto;

}
.search_control input:focus{
    width: 20%;
    display: inline;
}
@media screen and (max-width: 992px) {

    
  } */