.ProfileEmployee .header-profile {
    padding: 1.5rem 1.5rem;
    font-family: 'Roboto';
}

.ProfileEmployee .header-profile {
    position: relative;

    margin-top: 2%;
    height: 200px;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.ProfileEmployee .header-profile .container-tabs {
    display: block;
    /* margin-bottom: 3%; */
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}

.ProfileEmployee .header-profile .container-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px dashed #6c757d;
}

.ProfileEmployee .header-profile .container-tabs nav {
    padding: 10px 10px;
    font-family: Roboto;
    font-weight: 700;
    cursor: pointer;
}

.ProfileEmployee .header-profile .container-tabs nav.active {

    border-bottom: 3px solid #fd7e14;

}

.ProfileEmployee .header-profile .left-section {
    display: flex;
}


.ProfileEmployee .header-profile .left-section img {
    width: 150px;
    margin-right: 10%;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
}

.ProfileEmployee .header-profile .g_coor {
    color: #4F4F4F;
    font-weight: 600;
}

.ProfileEmployee .header-profile .g_droite {
    color: #8E8E8E;
    font-weight: 500;
}

.ProfileEmployee .header-profile .right-section .coordonnees {
    display: flex;
}

.ProfileEmployee .header-profile .left-section h3 {
    font-weight: 600;
}

.ProfileEmployee .header-profile .left-section h5 {
    font-weight: 500;
}

.ProfileEmployee .body-profile {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.ProfileEmployee .body-profile .card-profile {
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;

    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin: 1% auto;
    flex-basis: 48%;
    background-color: #fff;
}

.ProfileEmployee .body-profile .card-profile h3 {
    font-weight: 600;
    color: #1f1f1f;
}

.ProfileEmployee .body-profile .card-profile .informations {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ProfileEmployee .body-profile .card-profile .informations .text h4 {
    font-weight: 700;
    font-family: 'Roboto';
    color: #4F4F4F;
}

.ProfileEmployee .body-profile .card-profile .informations .title h4 {
    font-weight: 700;
    font-family: 'Roboto';
    color: #8E8E8E;
}


/* .ProfileEmployee .body-profile .card-profile .informations{
    display: flex;
    background-color: red;
} */

/* .ProfileEmployee .body-profile .card-profile  */
.icon {
    cursor: pointer;
}

.ProfileEmployee .contrat_tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ProfileEmployee .contrat_tabs .contrat_container {
    padding: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    flex-basis: 45%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
}

.ProfileEmployee .contrat_tabs .contrat_container h3{
    font-size: 25px;
}


.ProfileEmployee .contrat_tabs .contrat_container h3 span {
    font-weight: 400;
    font-size: 15px;
    display: flex;
}
.ProfileEmployee .salaire_tab{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: space-between;
   
}
.ProfileEmployee .salaire_tab .salaire_tab_container{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    min-width: 45%;
    max-width: 45%;   
    margin-bottom: 2%;
    padding: 0 1%;
}
.ProfileEmployee .salaire_tab .salaire_tab_container .sub_container{
    display: flex;
    justify-content: space-between;
}
.ProfileEmployee .salaire_tab h4{
    font-weight: 400;
    font-size: 25px;
}
.ProfileEmployee .salaire_tab h5{
    font-weight: 500;
}
.ProfileEmployee .salaire_tab .tab{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ProfileEmployee .salaire_tab .tab .salaire_collection{
    width: 20%;
    padding: 2%;
}
