body {
  margin: 0;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #edf2f9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  line-height: 1.5;
  color: #5e6e82;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}


a {
  text-decoration: none;
}


h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /*font-weight: 500;*/
  line-height: 1.2;
  color: #344050;
}

h1,
.h1 {
  font-size: calc(1.373832rem + 1.485984vw);
}

.container {
  display: flex;
  margin-top: 10px;
}

.container.active {
  filter: blur(2px);
  opacity: 0.1;
}

hr {
  margin: 1rem 0;
  color: #d8e2ef;
  background-color: currentColor;
  border: 0;
  opacity: 1;
}

hr:not([size]) {
  height: 1px;
}

p.error-input {
  color: red;
}

div.form-group-button {
  display: flex;
  margin-left: 2%;
  justify-content: center;
}

div.form-group-button button {
  border: none;
  margin-left: 2%;
  padding: 10px;

  font-size: 14px;
  border-radius: 25px;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 1px 1px #0003;

}

div.form-group-button button:nth-child(1) {
  background-color: #483D8B;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat';
  transition: .4s;
}

div.form-group-button button:nth-child(1):hover {
  background-color: #191970;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat';
}

div.form-group-button button:nth-child(2) {
  background-color: #B22222;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat';
  transition: .4s;
}
div.form-group-button button:nth-child(3) {
  background-color: #ff851a;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat';
  transition: .4s;
}

div.form-group-button button:nth-child(2):hover {
  background-color: #8B0000;
  color: white;
  font-weight: 500;
  font-family: 'Montserrat';
}

div.form-flex-button {
  display: flex;
  justify-content: space-between;
}

.d-flex-4 {
  flex: 4;
}

.d-head {
  margin-left: 20px;
  ;
}

.blue,
.green,
.red,
.yellow {
  /* background-color: #0096FF; */

  padding: 10px 10px;
  border-radius: 150px;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}

.blue {
  background-color: #483D8B;
}

.green {
  background-color: rgb(34, 139, 34);
  width: 30%;
}

.red {
  background-color: rgb(178, 34, 34);
  width: 30%;
}

.yellow {
  width: 30%;
}


.attente,
.accepte,
.refus {
  padding: 5px 5px;
  font-weight: 500;
  /* color: rgb(253, 218, 13); */
}

.attente {
  background-color: rgb(253, 218, 13, .3);
  color: rgb(139, 128, 0);
}

.accepte {
  background-color: rgb(50, 205, 50, .5);
  color: rgb(0, 100, 0);
}

.refus {
  background-color: rgb(220, 20, 60);
  color: rgb(139, 0, 0);
}

.w-500 {
  width: 500px;
}

@media screen and (max-width: 992px) {

  div.form-group-button {
    display: block;
  }

  div.form-group-button button {
    padding: 2px;
    font-size: 10px;
  }

}

.header-input {
  display: flex;
}

.header-input input,
.header-input select {
  margin-left: 5%;
  text-align: center;
  flex-basis: 25%;
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  padding: .375rem .75rem;
  box-sizing: border-box;
}

.header-input input:focus,
.header-input input:active {
  border: 1px solid #a5aeb8;
  border-radius: .25rem;
}
.w-800{
  width: 900px;
}
