.centre {
    width: 95%;
    margin: 0 auto;
}

.input-form {
    margin-top: 2%;

}

.flex-direction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.flex-direction .form-wrap {
    margin-top: 1.5%;
} 
 .flex-direction .form-wrap.sexe{
   
    width:400px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
} 
 /* .flex-direction .form-wrap {
    flex-basis: 50%;
}  */
.flex-direction input, .flex-direction .form-select {
    background-color: red;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    width: 400px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-sizing: border-box;
}
.flex-direction label{
    font-family: 'Roboto';
    font-weight: 500;
}
.poste-information{
    margin-top: 3%;
}
